[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/coc.nvim"]
	path = .vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/kotlin-vim"]
	path = .vim/bundle/kotlin-vim
	url = https://github.com/samtheprogram/kotlin-vim.git
[submodule "git/fwcd/kotlin-language-server"]
	path = git/fwcd/kotlin-language-server
	url = https://github.com/fwcd/kotlin-language-server.git
[submodule ".rbenv"]
	path = .rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule ".local/share/rbenv/plugins/ruby-build"]
	path = .local/share/rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "git/vim/vim"]
	path = git/vim/vim
	url = https://github.com/vim/vim
[submodule ".asdf"]
	path = .asdf
	url = /home/sam/.asdf
[submodule ".vim/bundle/yats.vim"]
	path = .vim/bundle/yats.vim
	url = git@github.com:HerringtonDarkholme/yats.vim
[submodule ".vim/bundle/vim-js"]
	path = .vim/bundle/vim-js
	url = git@github.com:yuezk/vim-js.git
[submodule ".vim/bundle/vim-jsx-pretty"]
	path = .vim/bundle/vim-jsx-pretty
	url = git@github.com:maxmellon/vim-jsx-pretty.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule ".asdf"]
	path = .asdf
	url = git@github.com:asdf-vm/asdf.git
