/*
/.*

!.gitignore
!.bash_profile
!.zshrc

!.rbenv
!.local/
.local/*
!.local/share/
.local/share/rbenv/*
!.local/share/rbenv/versions/
.local/share/rbenv/versions/*
!.local/share/rbenv/versions/.gitkeep
!.local/share/rbenv/shims/
.local/share/rbenv/shims/*
!.local/share/rbenv/shims/.gitkeep
!.local/share/rbenv/plugins/
.local/share/rbenv/plugins/*
!.local/share/rbenv/plugins/ruby-build

!.vimrc
!.vim/
.vim/*
!.vim/coc-settings.json
!.vim/bundle/

!.tmux.conf

!git/
git/*
!git/fwcd/
git/fwcd/*
!git/fwcd/kotlin-language-server/
